<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wifip2photspot">

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- Wi-Fi P2P Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Android 13+ Permission -->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <!-- Wi-Fi P2P permissions -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- Minimum SDK version -->
    <uses-sdk android:minSdkVersion="29" />

    <application
        android:label="WiFiP2PHotspot"
        android:theme="@style/Theme.Wifip2photspot">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
